[submodule "prysm-stratis"]
	path = prysm-stratis
	url = https://github.com/stratisproject/prysm-stratis
	branch = StratisEVM
[submodule "go-stratis"]
	path = go-stratis
	url = https://github.com/stratisproject/go-stratis
	branch = Test