[submodule "prysm-stratis"]
	path = prysm-stratis
	url = https://github.com/stratisproject/prysm-stratis
	branch = StratisEVM
[submodule "go-stratis"]
	path = go-stratis
	url = https://github.com/stratisproject/go-stratis
	branch = Test
[submodule "staking-deposit-cli"]
	path = staking-deposit-cli
	url = https://github.com/stratisproject/staking-deposit-cli
	branch = develop
